// ROOTS
:root {
    --blue: #000091;
    --red: #C60220;
    --black: #111111;
    --white: #ffffff;
}


// FONTS
$mont: 'Montserrat', sans-serif;



// MOBILE / TABLETS / Desktop
$m-portrait: 480px;
$mobile: 767px;
$desktop: 1200px;
