// ROOTS
:root {
    --blue: #00006b;
    --red: #C60220;
    --black: #111111;
    --white: #ffffff;
     
}


// FONTS
$mont: 'Montserrat', sans-serif;



// MOBILE / TABLETS / Desktop
$mobile-portrait: 480px;
$mobile: 767px;
$desktop: 1024px;




