.header {

    background: url(/images/header-bg.jpg) no-repeat center;
    background-size: cover;
    font-family: $mont;
    height: 100vh;

    @media (max-width: 992px) {
        background-size: 960px;
    }

    @media (max-width: $mobile) {
        background-size: 720px;
    }

    @media (max-width: 576px) {
        background-size: 540px;
    }
}


.row {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.logo {
    @media (max-width: $mobile) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    padding-left: 100px;
    transition: all .3s;



    &:hover {
        transform: scale(1.1);
    }

}

.nav {
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: $desktop) {
        display: none;
    }
    
}

.icon {
    fill: blue;
    width: 50px;

    @media (min-width: $desktop) {
        display: none;
    }

    // @media (max-width: $mobile) {
    //     display: ;
    // }
}

.menu {
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;




    &__item {
        color: var(--blue);
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 30px;
        transition: all .3s;
    }

    &:first-child {
        padding-left: 0;
    }

    &__item:hover {
        transform: scale(1.1);
        color: var(--red);
    }

    a {
        text-decoration: none;
    }
}

.title {
    display: flex;
    align-items: center;

    &__text {
        margin: 0 auto;
        padding-top: 350px;
        color: var(--white);
        font-size: 48px;
        font-weight: 700;

    }
}